---
import Link from '../ui/Link.astro';
---

<div class="fixed left-0 right-0 top-0 z-20 transition-colors duration-500 border-b border-zinc-700 border-opacity-0">
    <nav class="py-4 px-8 flex flex-row gap-4 font-sans max-w-7xl w-full m-auto">
        <!-- Logo group -->
        <div class="flex flex-row gap-2 items-center max-sm:hidden">
            <Link href="/" label="Tinie.link"><img class="w-6 h-6 rounded-lg border" src="/hero.webp" /></Link>
        </div>
        <!-- Link Group -->
        <div class="ml-auto items-center">
            <ul class="flex flex-row gap-6 items-center h-full">
                <li><Link href="/blog" label="Story" /></li>
                <li><Link href="/analytics" label="Analytics" /></li>
                <li><Link href="https://tinie.link" label="App" /></li>
            </ul>
        </div>
        <!-- Controls Group -->
        <div class="border-l border-zinc-700 text-zinc-100 pl-4 flex">
            <Link href="https://github.com/iamsebastiandev/tinie.link"> <img class="w-5 h-5" src="/github.svg" /></Link>
        </div>
    </nav>
</div>
