---
import Layout from '../layouts/Layout.astro';
import '@fontsource/raleway/400.css';
import '@fontsource/raleway/600.css';
import '@fontsource/raleway/800.css';
import '@fontsource/quicksand';
---

<Layout title="Tinie.link | Cloud Powered Link Shortener">
    <main class="text-zinc-200">Analytics</main>
</Layout>
